# Credentials (IMPORTANT - NEVER COMMIT TO GIT)
*.json

# Build artifacts
bin/
obj/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
ocr_log.txt

# Folders
_tmp_reader
publish
tools

# images
*.png
*.jpg
*.jpeg
*.gif